  <nav class="navbar navbar-expand navbar-light bg-light px-5">
    <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav nav-pills">
          <li>
              <a class="nav-link" routerLink='/welcome' routerLinkActive="active"  aria-current="page">Home </a>
          </li>
          <li>
              <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" >Product List</a>
          </li>
      </ul>
  </nav>
 <div class="container">
   <router-outlet></router-outlet>
 </div>